<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Webpage</title>
</head>
<body>
    <h1>Welcome!</h1>
    <p>This is a basic HTML template.</p>
    <img src="http://www.htmldog.com/badge1.gif" width="120" height="90" alt="HTML Dog">
</body>
</html>
<picture>
  <source media="(max-width: 600px)" srcset="small.jpg">
  <source media="(max-width: 900px)" srcset="medium.jpg">
  <img src="large.jpg" alt="My Image">
</picture>